{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CategoryHome</title>
  <link rel="stylesheet" href="{% static 'category/css/details.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-success">
    <div class="container-fluid">
      <a class="navbar-brand titlee px-5 align-items-center text-light" href="{% url 'category.home' %}" style=" font-weight: 300;
            font-size: 30px !important;
            font-style: italic;
            font-family:'Courier New', Courier, monospace;
            padding-right: 10px;">Category</a>

      <form class="d-flex" role="search" method="GET" action="#">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-dark text-light" type="submit">Search</button>
      </form>
    </div>
  </nav>

  {% if category %}
  <div class="container mt-5 d-flex justify-content-center">
    <div class="card mb-3 border-0" style="max-width: 540px;">
      <div class="row g-0">
        <div
          class="col-md-4                                                                                                                                                        ">
          <img src={{category.get_image_url}} class="card-img-top" alt="..." width="200" height="200">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title text-warning my-2 categoryName" style="font-family: 'Courier New', Courier, monospace !important;
                        font-weight: 300 !important;
                        font-style: italic !important;">{{category.name}}</h3>
            <div>
              <span class="fw-bold">Description</span><br>
              <p class="card-text text-start">{{category.description}}</p>
            </div>


            <a href="{% url 'category.home' %}" class="btn btn-outline-warning text-dark mt-3">Back To categories</a>
            <a href="{% url 'category.delete'  category.id %}"
              class="btn btn-outline-warning text-danger mx-2 mt-3">Delete<a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  

  <!-- Products In This Category -->
  <div class="products py-5">
    <h3 style="font-family: 'Courier New', Courier, monospace !important;
    font-weight: 300 !important;
    font-style: italic !important;">Products Related To This Category</h3>
    <ul>
      {% if category.product_set.all %}
      <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 py-2">
        {% for product in category.product_set.all %}
        <div class="card border-0 mb-3 ">
          <!-- <img src="{{product.get_image_url}}" class="card-img-top" height="370"> -->
          <div class="card-body text-start p-1 ">
            <h5 class="card-title">{{product.name}}</h5>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="pt-5 text-start">
        <h4 class="text-danger" style="font-family: 'Courier New', Courier, monospace !important;
        font-weight: 300 !important;
        font-style: italic !important;">No Products Related To This Category </h4>
      </div>
      {% endif %}
  </div>

  <footer class='footer container-fluid bg-success text-light p-3 ' style="position: fixed; bottom: 0;">
    <div class='row px-5 align-items-center '>
      <div class='col text-start'>
        <h4 class='text-uppercase mb-3'>Get In Touch</h4>
        <p>
          reham@gmail.com
        </p>
        <p>
          0101122334455
        </p>
      </div>

      <div class='col text-center'>
        <button class="btn btn-outline-dark text-light">CONTACT ME</button>
      </div>
      <div class='col text-end'>
        <p>Copyright &copy; 2023 KR</p>
      </div>
    </div>
  </footer>

  <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
</body>

</html>