{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register_Page</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
</head>
<body>
    <div class="container ">
        <form class="pb-5" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-outline-warning text-danger mt-3" >Submit</button>
          </form>
    </div>
    <script src="{% static  'accounts/js/script.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
</body>
</html>